.item{
  opacity: 1;
  transition: opacity 0.4s;
}

.item--entering {
  opacity: 0;
}

.item--entered{
  opacity: 1;
}

.item--exiting {
  opacity: 1;
}

.item--exited {
  opacity: 0;
}

body{
  padding: 20px;
}

* {
  box-sizing: border-box;
}